body,
html {
  height: 100%;
  margin: auto auto;
}
.spinner-border {
  text-align: center;
}

body {
  /* The image used */
  background-image: url("/assets/img/back-ground.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 150px;
  height: auto;
  padding: 1px;
  margin: 1px;
}
.child {
  display: inline-block !important;
  margin: 0 auto !important;
  padding: 3px !important;
  width: 100% !important;
}
.loading {
  margin-left: auto !important;
  margin-right: auto !important;
  display: inline-block !important;
  padding: 0 40%;
  margin-top: 300px;
}

#root {
  position: relative !important;
  min-height: 100vh;
  padding: 0 0;
}
#space-child {
  padding-bottom: 2.5rem;
}
.card {
  display: inline-block;
  margin: 10px;
  height: 240px;
}
.custom-switch {
  padding-left: 0 !important;
}
.card-title {
  display: inline-block !important;
  padding: 0% !important;
}

img {
  width: 20px;
}
li {
  margin: 4px;
}
.custom-control-input {
  display: inline-block !important;
  float: right;
}
.custom-control-label {
  display: inline-block !important;
  float: right;
}
.my-paragraph {
  position: absolute;
  padding-top: 4px;
}
.row {
  position: relative !important;
}
#footer,
.footer {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5rem; /* Footer height */
  padding: 0 0;
  margin: 0 0;
}
